/*estrutura do site
-------------------------------*/

body{
    background: #f4f2ec url(/img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

}

#container{
    width: 1080px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}
a:hover{
    color: #227115;
}

/* logo
---------------------------------*/
#logo h1{
    float: left;/*obs2*/
}

#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(/img/logo.png) no-repeat;
}

/* barra de navegacao
---------------------------------*/
header{
    padding: 15px 0;
    height: 55px;

}

nav ul{
    list-style: none;
    margin: 20px;
    float: right;/*obs1*/
}

nav ul li{
    float: left;/*obs1*/
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 1px solid #535858;
}

/* Principal
----------------------------------*/

#conteudo{
    width: 710px;
    float: left;
    
}

aside{
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

section#galeria{
    padding: 0 27px 0 27px;
}

section#visita{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 0px;
}

section#galeria a{
    display: block;
    background: url(/img/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px 18px 15px;
    margin: 10px 0 0 20px;
}

section#galeria img{
    margin-left: 2px;
    margin-top: 3px;

}

h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;

}

h3{
    color: #227115;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

article#video{
    float: left;
    margin-left: 25px;
    width: 310px;
}

article#mapa{
    float: left;
    margin-left: 37px;
    width: 310px;
}
article#exposicoes{
    float: left;
    margin: 15px 0 0 25px;
    width: 310px;
    
}
article#historia{
    float: left;
    margin: 15px 0 0 37px;
    width: 310px;
}
/* Formularios
----------------------------------*/

input{
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo{
    border: 1px solid #ada484;
    
}

input.botao{
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset{
    border: none;
}
legend{
    display: none;
}

/*Rodape
----------------------------------*/
footer{
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(/img/fundo-rodape.png)no-repeat center top;
    margin-top: 20px;/*obs3*/
}

footer>p a{
    padding: 2px 10px;
}

/* observacoes
----------------------------------*/
/*obs1
Importante notar que a ul que contem as li, ela esta float para a direita, mas as li estao float para a direita, o que permite que os elementos nao fiquem em ordem inverdida, ou seja, permaneca na mesma ordem que estao na html.*/

/* obs2
O logo museu nacional esta flutuando a direita pq ja tem um elemento flutuando a esquerda que eh a ul e estao no mesmo nivel hierarquico. Com isso, se o logo nao flutuar, ele vai ficar desalinhado com a o menu.*/

/*obs3
Ocorre aqui um problema chamado efeito colapse, eu acho rsrsr, quando usamos um elemento clear both, ele corta suas margens para os demais elementos, mantendo sempre colado.*/